.Note {
    padding: 2.5rem 2.5rem 2.5rem 3.5rem;
}

.NoteHeadline {
    font-size: 22px;
    margin: 0 0 1.5rem 0;
    width: 100%;
    border: none;
}

.NoteBody {
    width: 100%;
    border: none;
    height: 50rem;
    outline: none;
    resize: none;

}