.note.col-6 {
    padding: 50px 0 0 75px ;
}

.note .col-10 {
    padding: 0;
}

.noteHeadline {
    font-size: 22px;
    margin: 0 0 1.5rem 0;
    width: 100%;
    border: none;
    resize: none;
    overflow: hidden;
}

.noteBody {
    width: 100%;
    border: none;
    height: 50rem;
    outline: none;
    resize: none;
}

.noteHeadline:focus {
    border: 1px solid #E4E4E4;
}

.noteBody:focus {
    border: 1px solid #E4E4E4;
}

.noteNav {
    color: #E4E4E4;
    font-size: 1.5rem;
    padding: 0 0 0 20px;
    text-align: center;
}

.noteNav button {
    background-color: white;
    border: 0px;
    color: #E4E4E4;
}

.noteNav i:hover {
    color: red;
    font-size: 1.5rem;
}

.noteNav ul{
    list-style: none;
    padding: 0;
}