.Note {
    padding: 50px 0 0 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.col > .row {
    height: 100vh;
}

.noteHeadline:disabled {
    font-family: Poppins;
    font-weight: 700;
    background-color: white;
    font-size: 22px;
    margin: 0 0 1.5rem 0;
    width: 100%;
    border: none;
    resize: none;
    overflow: auto;
    color: #3F3F3F;
}

.noteHeadline {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    font-size: 22px;
    font-weight: bolder;
    margin: 0 0 1.5rem 0;
    width: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    border: 1px solid #E4E4E4;
    overflow: auto;
    color: #3F3F3F;
}

.noteBody:disabled {
    background-color: white;
    font-family: Poppins;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    flex: 1;
}

.noteBody {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid #E4E4E4;
    resize: none;
    margin: 0 0 50px 0;
    flex: 1;
}

.noteBody::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: #dfdfdf;
}

.noteBody::-webkit-scrollbar
{
	width: .35rem;
	background-color: #F5F5F5;
}

.noteBody::-webkit-scrollbar-thumb
{
	background-color: #bbbbbb;
}

.noteNav {
    color: #E4E4E4;
    font-size: 1.5rem;
    text-align: center;
    margin: 50px 0 0 0;
}

.noteNav ul li {
    padding: 10px 0;
}

.noteNav button {
    background-color: white;
    border: 0px;
    color: #E4E4E4;
}

.noteNav i:hover {
    color: red;
    font-size: 1.5rem;
}

.noteNav ul{
    list-style: none;
    padding: 0;
}

.delete {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
}

.categoryInput {
    border: 1px solid #c6d8dd;
    padding: 4px 5px;
}

.button {
    font-family: "Barlow";
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    margin: 5px 5px;
    padding: 5px 5px;
    background-color: #D90429;
    border: 1px solid #E2E8EB;
    width: 95%;
    border-radius: 35px 35px;
}

.button:hover {
    background-color: #EF233C;
    border: 1px solid #B4CBD4;
}