.col {
    padding: 50px 0 0 75px ;
}

.noteHeadline:disabled {
    font-family: Poppins;
    font-weight: 700;
    background-color: white;
    font-size: 22px;
    margin: 0 0 1.5rem 0;
    width: 100%;
    border: none;
    resize: none;
    overflow: hidden;
}

.noteHeadline {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    font-size: 22px;
    font-weight: bolder;
    margin: 0 0 1.5rem 0;
    width: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    border: 1px solid #E4E4E4;
}

.noteBody:disabled {
    background-color: white;
    font-family: Poppins;
    width: 100%;
    border: none;
    height: 50rem;
    outline: none;
    resize: none;
}

.noteBody {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    border: none;
    height: 50rem;
    outline: none;
    border: 1px solid #E4E4E4;
    resize: none;
}

.noteNav {
    color: #E4E4E4;
    font-size: 1.5rem;
    padding: 0 0 0 20px;
    text-align: center;
}

.noteNav button {
    background-color: white;
    border: 0px;
    color: #E4E4E4;
}

.noteNav i:hover {
    color: red;
    font-size: 1.5rem;
}

.noteNav ul{
    list-style: none;
    padding: 0;
}