.noteList {
    background-color: #EDF2F4;
    height: 100vh;
  }

.noteContainer {
  border: 1px solid #B4C7CE;
  border-top: 0;
  border-left: 5px solid #EDF2F4;
  padding: 1.5rem 0;
}

.noteContainer.selected {
  background-color: white;
  border-left: 5px solid red;
}

.noteCategory {
  color: #A9A9A9;
  font-family: "Poppins";
  font-size: .75rem;
  font-weight: 700;
  height: 100;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noteContainer.selected .noteCategory{
  color: #6E6E6E;
}

.noteContainer.selected .noteCategory i {
  color: #EF233C;
}


.noteTitle {
  width: 95%;
  color: #A9A9A9;
  font-family: "Poppins";
  font-weight: 700;
  align-items: center;
  margin: 0;
}

.noteContainer.selected .noteTitle {
  color: #3F3F3F;
}

.noteContent {
  width: 95%;
  color: #A9A9A9;
  font-family: "Poppins";
  font-size: .80rem;
  align-items: center;
  margin: 0;
}

.noteContainer.selected .noteContent{
  color: #3F3F3F;
}