.sidebar {
  background-color: #2B2D42;
  color: #fff;
  height: 100vh;
}

.sidebar p {
  font-family: "Barlow";
  font-size: .75rem;
  padding: 0;
  margin: 0;
  width: 100%;
}
  
.sidebar i {
  padding-right: 10px
}

.sidebar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.sidebar ul li {
  color: #4C4F69;
  padding: .25rem 0rem .25rem 0rem;
  display: block;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li:hover {
  color: #EF233C;
}

.sidebar .row {
  padding: 25px 0 0 25px;
}

@media only screen and (max-width: 725px) {
  .sidebar .row p {
    display: none;
  }

  .sidebar .row ul {
    width: 100%;
  }

  .sidebar .row ul li {
    font-size: 2rem;
    margin: 0 auto;
    padding: .5rem 0;
    width: 80px;
    text-align: center;
  }

  .sidebar .row {
    padding: 0 0 3rem 0;
  }

  ul li a {
    display: none;
  }
}